= form_for @user, html: {class: "form", multipart: true} do |f|
  - if @user.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissible
      %h4= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %br
      %ul.small.list-unstyled.list-group-item-danger
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :username
    = f.text_field :username, {class: "form-control"}
  .form-group
    = f.label :email
    = f.text_field :email, {class: "form-control"}
  .form-group
    = f.label :password
    = f.password_field :password, {class: "form-control"}
  .form-group
    = f.label :roles
    %br/
    = collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true}, {class: "form-control"})
  .actions
    = f.submit 'Save', {class: "btn btn-info btn-block"}
